default:
  root: 'C:\Users\Laurent\OneDrive\Trading\Omega\omega'
  data: 'C:\Users\Laurent\OneDrive\Trading\Data'
  spreading: 'C:\Users\Laurent\OneDrive\Trading\Spreading'
  curvature: 'C:\Users\Laurent\OneDrive\Trading\Curvature'
  lists: 'C:\Users\Laurent\OneDrive\Trading\Lists'
  quotes: 'C:\Users\Laurent\OneDrive\Trading\Curvature\Quotes'
  database: 'C:\Users\Laurent\OneDrive\Trading\Omega\omega\database.json'
  parameters: 'C:\Users\Laurent\OneDrive\Trading\Omega\omega\raid\parameters.json'

logging:
  enabled: 'True'
  root: 'C:\Users\Laurent\OneDrive\Trading\Logs'
  level: 'debug'

excel:
  curvature: 'Curvature-1.2.xlsm'
  spreading: 'Spreading-v0.6.xlsm'

mode:
  version: '1'

database:
  url: 'omegatrading.ddns.net'
  port: '27017'
  auth_db: 'test'
  username: 'Damir'
  password: 'Upwork2018'


  